
.settings {
    position: relative;
    flex-grow: 1;
    text-align: center;
    justify-content: center;
    margin-top: 100px;
    margin-left: 200px;
}

.settingsValue {
    width: 300px;
    height: 200px;
    border: 6px coral solid;
    border-radius: 20px;
}


.button {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    margin-top: 10px;
    font-size: 20px;
    /*margin-right: 30%;*/
    height: 4vw;
    width: 20vh;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 10px;
    transition-duration: 0.4s;
    border: 2px coral solid;
}

.button:hover {
    background-color: limegreen;
    color: white;
}