
.num {
    margin: 0 auto;
    margin-top: 100px;
    border: 6px coral solid;
    border-radius: 20px;
    width: 300px;
    height: 200px;
}

.counter {
    margin-top: 60px;
    font-size: 50px;
    color: coral;
}

.counterStop {
    margin-top: 60px;
    font-size: 60px;
    font-weight: bold;
    color: red;
}

.error {
    margin-top: 80px;
    font-size: 30px;
    font-weight: bold;
    color: #A6401A;
}

.message {
    margin-top: 80px;
    font-size: 20px;
    font-weight: bold;
    color: #3F627B;
}